<!-- Creates a Post on behalf of the current_user. -->
<%= form_with model: @post, url: user_posts_path do |f| %>
<div class="form_wrapper">
<div class="form_elements">
    <%=f.label :title%>
    <%=f.text_field :title, class:"form_input"%>
</div>
<div class="form_elements">
    <%=f.label :text%>
    <%=f.text_area :text,class:"form_text_area"%>
</div>
<div class="form_elements">
    <%=f.submit "Add new post", class:"form_submit_btn"%>
</div>
</div>
<%end%>